# Deny access to all files in this directory
Options -Indexes
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
<FilesMatch "\.(php|htaccess|htpasswd|ini|log|sh|sql)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
